{% extends 'base/base.html' %}
{% load static %}

{% block title %}

    profile

{% endblock %}


{% block content %}
    <div class="container-fluid ">
        <div class="row" style="margin: 1%"></div>
        <div class="row">
            <div class="col"></div>
            <div class="col-md-8  rounded justify-content-center  ">
                <div class="card card-body " style="background-color:#e3ffff">
                    {#                    <form name="Sign_in" method="post">#}
                    {% csrf_token %}
                    <h1 style="text-align: center">About us  </h1>
                    <div class="mb-md-2 d-grid gap-3  ">
                        <div class="mb-md-2 d-grid gap-3 text-center " >
                            <p> This site is a project for the course of web programming</p>
                            <p> The site is a shop for buying products</p>
                            <p> Your can choose your product and buy it.</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}