{% extends 'base/base.html' %}

{% block title %}
    index
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto  col-md-2 px-0 bg-white">
                <div class="d-flex flex-column  px-2 pt-2 ">
{#                    <div class="btn-group-vertical" role="group" aria-label="Basic mixed styles example">#}
{#                        <a href="" type="button" id="all_task" class="btn btn-secondary ">buttom1</a>#}
{#                        <a href="" type="button" id="create_task" class="btn btn-secondary">buttom2</a>#}
{#                    </div>#}
                </div>

            </div>
            <div class="col-auto col-md-8">
                {% block view %}
                {% endblock %}
                {% block chat %}
                {% endblock %}
                {% block products %}
                {% endblock %}

            </div>
            <div class="col-auto col-md-2">

            </div>

        </div>

    </div>











{% endblock %}
